.PatternForm select {
  height: 40px;
  background: #fbfcfc;
  border: 1px solid #dfe9e9;
}

.PatternForm.readOnly input,
.PatternForm.readOnly textarea,
.PatternForm.readOnly select {
  background: #eee;
  pointer-events: none;
  touch-action: none;;
}

.PatternForm > .footer {
  margin: 10px 0px;
  text-align: right;
}

.PatternForm > .footer button {
  margin-right: 10px;
}

.Home .listContainer {
  margin-top: 40px;
}

.Home .rowContainer > a > button {
  width: 140px;
}

.Home .rowContainer > .label {
  margin: 10px;
}

.Home .rowContainer {
  margin: 10px 0px 20px;
  text-align: center;
}

.Home .searchMessage {
  margin: 30px 0px;
  padding: 20px;
  border: 1px solid #dfe9e9;
  font-weight: bold;
}

@media (min-width: 541px) {
  .Home .rowContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }
}
