$color-primary-light: #FFFFFF;
$color-primary-dark: #000000;
$color-primary-yellow: #FFE29C;
$color-primary-green: #E0F1F1;
$color-secondary-gray: #E3E3E3;
$color-gray-light: #F8F8F8;
$color-gray-dark: #20343D;
$color-ibm-blue-30: #5AAAFA;
$color-ibm-blue-40: #5596E6;
$color-ibm-blue-50: #4178BE;
$color-ibm-blue-70: #25425A;
$color-ibm-blue-80: #1D3649;
$color-ibm-gray-70: #222222;
$color-ibm-blue-btn: #56A8FD;
$color-ibm-green-30: #00E057;
$color-ibm-green-40: #5AA700;
$color-ibm-red-50: #E71E32;


$phone-width: 425px;
$tablet-width: 768px;
$medium-width: 900px;

$container-large-width: 1200px;
$container-medium-width: 992px;


$color-primary-background: $color-primary-light;
$color-primary-font: $color-primary-dark;
$color-primary-button: $color-ibm-blue-40;

//font
$helvetica: 'IBM Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
$helvetica-light: "HelveticaNeue-Light", "HelvLightIBM", Arial, sans-serif;
