// Page structure css (html, body, main)
@import './common/style';

// Common

// Components
@import 'components/common';
/*
@import 'components/intro';
@import 'components/learnmore';
@import 'components/demo';
*/
@import 'components/dialog';

html, body {
	height: 100%;
	margin: 0;
}
body {
	font-family: Arial;
  background: $color-primary-background;
  color: $color-primary-font;
	font-size: 14px;
}
h1, h2, h3, h4 {
	margin: 0px
}
h1 {
  font-size: 40px;
}
h2 {
	font-size: 28px;
}

.main {
	padding: 120px 60px 60px;
}
