.ListItems {
  margin: 20px 0px;
}
.ListItems > .item {
  display: flex;
  border: 1px solid #dfe9e9;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.ListItems > .item > .info {
  flex: 9;
}

.ListItems > .item > .info .label {
  display: inline-flex;
  font-weight: bold;
  width: 100px;
}

.ListItems > .item > .buttons > button:first-child {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.lineContainer {
  display: flex;
}

.ListItems > .item > .info .value {
  width: calc(100% - 100px);
  text-align: justify;
  text-justify: inter-word;
}
