.FieldContainer {
  display: flex;
  flex-flow: row wrap;
  line-height: 38px;
  margin: 10px 0px;
}

.FieldContainer .Label.inputLabel {
  max-width: initial;
  min-width: 100%;
  margin-bottom: 6px;
}
