.carouselContainer{
  margin: 10px 15px;
  width: calc(100% - 30px);
  box-sizing: border-box;
}

.solution {
  padding: 10px 13px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  background: #fff;
}
/*
.solution:last-child {
  border-bottom-color: #dadada;
}

.solution:nth-child(even) {
  background: #efefef;
}

.solution:nth-child(odd) {
  background: #FFF;
}*/

.fieldInputContainer,
.fieldInputContainer > * {
  width: 100%;
  box-sizing: border-box;
}

.hf {
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  background: #efefef;
}
/*
.hf:nth-child(even) {
  margin: 10px 0px;
}

.solution:nth-child(odd) .hf{
  background: #efefef;
}

.solution:nth-child(even) .hf{
  background: #fff;
}
*/
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -20px;
}
.slick-next:before, .slick-prev:before {
  content: '';
  font-weight: bold;
  height: 15px;
  width: 15px;
  border: 4px solid gray;
  display: inline-block;
  transform: rotate(45deg);
}

.slick-prev:before {
  border-right: transparent;
  border-top: transparent;
}

.slick-next:before {
  border-left: transparent;
  border-bottom: transparent;
}

.solution-btn {
  background: #097894;
  border-color: #097894;
}

.solution-btn:hover {
  border-color: #097894;
  color: #097894;
}

.solution-btn.delete {
  margin-left: 20px;
}
